<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= @dom_id + '_form' %>" class="popup_form" style="display:block;">
			<%= yield :before_form %>
			<%= form_tag rurl_for_event(:formSubmit), :remote => true do %>
				<%= hidden_field_tag "id", record.id, :id => "#{container}_id" %>
				<%= yield %>
				<%= hidden_field_tag "form_action", '', :id => container + '_form_button' %>
				<% unless @form_only %>
					<%= submit_tag (record.id.to_i > 0 ? 'Save+Close' : 'Add+Close'),
						:onclick => "$('##{container + '_form_button'}').val('submit');" %>
				<% end %>
					<%= submit_tag (record.id.to_i > 0 ? 'Save' : 'Add'),
						:onclick => "$('##{container + '_form_button'}').val('remain');" %>
				<% unless @form_only %>
					<%= submit_tag 'Cancel',
						:onclick => "$('##{container + '_form_button'}').val('cancel');" %>
				<% end %>
			<% end %>
			<%= yield :after_form %>
		</div>
	</div>
</div>
