<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= @dom_id + '_form' %>" class="popup_form" style="display:block;">
			<%= yield :before_form %>
			<%= form_tag rurl_for_event(:formSubmit), :remote => true do %>
				<%= hidden_field_tag "id", record.id, :id => "#{container}_id" %>
				<%= yield %>
				<%= hidden_field_tag "form_action", '', :id => container + '_form_button' %>
				<% @form_buttons.each do |button| %>
					<% if record.id.to_i > 0 || button[2].size > 0 %>
						<%= submit_tag (record.id.to_i > 0 ? button[1] : button[2]),
							:onclick => "$('##{container + '_form_button'}').val('#{button[0]}');" %>
					<% end %>
				<% end %>
			<% end %>
			<%= yield :after_form %>
		</div>
	</div>
</div>
