<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= container %>" class="popup_form" style="display:block;">
			<%= yield :before_form %>
			<%
				# the unique iframe id/name is necessary due, I think, to the fact that I
				# slide the previous form out and the next form in, so they exist together
				# briefly, leading something to get messed up in the DOM (in Safari, not in FF).
				iframe_id = "#{container}_#{rand(1000).to_s}_iframe"
				ufe_opts = multipart_form ? {:apotomo_iframe => true} : {}
				html_opts = multipart_form ? {:multipart => true, :target => "#{iframe_id}"} : {:remote => true}
			%>
			<% if multipart_form %>
				<iframe id="<%= iframe_id %>" name="<%= iframe_id %>" style="display: none;"></iframe>
			<% end %>
			<%= form_tag rurl_for_event(:form_submitted, ufe_opts), html_opts do %>
				<%= hidden_field_tag "id", record.id, :id => "#{container}_id" %>
				<%= pid ? (hidden_field_tag "pid", pid, :id => "#{container}_pid") : '' %>
				<%= yield %>
				<%= hidden_field_tag "form_action", '', :id => container + '_button' %>
				<% controller.form_buttons.each do |button| %>
					<% if record.id.to_i > 0 || button[2].size > 0 %>
						<%= submit_tag (record.id.to_i > 0 ? button[1] : button[2]),
							:onclick => "$('##{container + '_button'}').val('#{button[0]}');" %>
					<% end %>
				<% end %>
			<% end %>
			<%= yield :after_form %>
		</div>
	</div>
</div>
