<table class="edit_table">
	<tr>
		<td>
			<table class="data_table">
				<tr>
					<td>Name</td>
					<td><%= text_field_tag 'record[name]', @record.name %></td>
				</tr>
				<tr>
					<td>Section</td>
					<td><%= select_tag 'record[section_id]', options_from_collection_for_select(Section.all, 'id', 'name', @record.section_id) %></td>
				</tr>
			</table>
		</td>
		<td>
			<table class="data_table">
				<tr>
					<td>Slug</td>
					<td><%= text_field_tag 'record[slug]', @record.slug %></td>
				</tr>
				<tr>
					<td>Visible?</td>
					<td><%= hidden_field_tag 'record[visible]', '0' %><%= check_box_tag 'record[visible]', '1', @record.visible %></td>
				</tr>
			</table>
		</td>
		<td>
			<table class="data_table">
				<tr>
					<td>Column</td>
					<td><%= text_field_tag 'record[column]', @record.column %></td>
				</tr>
				<tr>
					<td>Position</td>
					<td><%= text_field_tag 'record[position]', @record.position %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
