<table class="edit_table">
	<tr>
		<td>
			<table class="data_table">
				<tr>
					<td>Last Name</td>
					<td><%= text_field_tag 'record[last_name]', @record.last_name %></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><%= text_field_tag 'record[first_name]', @record.first_name %></td>
				</tr>
				<tr>
					<td>BU Login</td>
					<td><%= text_field_tag 'record[bulogin]', @record.bulogin %></td>
				</tr>
			</table>
		</td>
		<td>
			<table class="data_table">
				<tr>
					<td>Faculty?</td>
					<td><%= hidden_field_tag 'record[faculty]', '0' %><%= check_box_tag 'record[faculty]', '1', @record.faculty %></td>
				</tr>
				<tr>
					<td>Staff?</td>
					<td><%= hidden_field_tag 'record[staff]', '0' %><%= check_box_tag 'record[staff]', '1', @record.staff %></td>
				</tr>
				<tr>
					<td>Admin?</td>
					<td><%= hidden_field_tag 'record[admin]', '0' %><%= check_box_tag 'record[admin]', '1', @record.admin %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
