<table class="edit_table">
	<tr>
		<td>
			<table class="data_table">
				<tr>
					<td>Person</td>
					<td><%= select_tag 'record[person_id]', options_from_collection_for_select(Person.all, 'id', 'full_name', @record.person_id) %></td>
				</tr>
				<tr>
					<td>Section</td>
					<td><%= select_tag 'record[section_id]', options_from_collection_for_select(Section.all, 'id', 'name', @record.section_id) %></td>
				</tr>
				<tr>
					<td>Next available</td>
					<td><%= text_field_tag 'record[next_available]', @record.next_available %></td>
				</tr>
			</table>
		</td>
		<td>
			<table class="data_table">
				<tr>
					<td>Advising?</td>
					<td><%= hidden_field_tag 'record[advising]', '0' %><%= check_box_tag 'record[advising]', '1', @record.advising %></td>
				</tr>
				<tr>
					<td>Available?</td>
					<td><%= hidden_field_tag 'record[available]', '0' %><%= check_box_tag 'record[available]', '1', @record.available %></td>
				</tr>
				<tr>
					<td>Accepting?</td>
					<td><%= hidden_field_tag 'record[accepting_advisees]', '0' %><%= check_box_tag 'record[accepting_advisees]', '1', @record.accepting_advisees %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
